#missions.panel-group(role='tablist', aria-multiselectable='false')
  .panel.panel-default
    #mission-one.panel-heading(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#missions', href='#mission-one-collapse', aria-expanded='true', aria-controls='mission-one-collapse')= game_data.mission_name
    #mission-one-collapse.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='mission-one')
      .panel-body
        .row
          .col-sm-12
            p= game_data.mission_description
        .row
          .col-sm-8
            p Siła &nbsp;
          .col-sm-4
            span.badge= game_data.mission_strength
        .row
          .col-sm-8
            p Witalność &nbsp;
          .col-sm-4
            span.badge= game_data.mission_vitality
        .row
          .col-sm-8
            p Inteligencja &nbsp;
          .col-sm-4
            span.badge= game_data.mission_inteligence
        .row
          .col-sm-8
            p Zreczność &nbsp;
          .col-sm-4
            span.badge= game_data.mission_agility
        .row
          .col-sm-8
            p Pieniądze &nbsp;
          .col-sm-4
            span.badge= game_data.mission_money
        .row
          .col-sm-8
            p Przedmiot &nbsp;
          .col-sm-4
            span.badge= game_data.mission_item
        .row
          .col-sm-8
            p Czas &nbsp;
          .col-sm-4
            span.badge= game_data.mission_time



  .panel.panel-default
    #mission-two.panel-heading(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#missions', href='#mission-two-collapse', aria-expanded='false', aria-controls='mission-two-collapse')= game_data.mission_name2
    #mission-two-collapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='mission-two')
      .panel-body
        .row
          .col-sm-12
            p= game_data.mission_description2
        .row
          .col-sm-8
            p Siła &nbsp;
          .col-sm-4
            span.badge= game_data.mission_strength2
        .row
          .col-sm-8
            p Witalność &nbsp;
          .col-sm-4
            span.badge= game_data.mission_vitality2
        .row
          .col-sm-8
            p Inteligencja &nbsp;
          .col-sm-4
            span.badge= game_data.mission_inteligence2
        .row
          .col-sm-8
            p Zreczność &nbsp;
          .col-sm-4
            span.badge= game_data.mission_agility2
        .row
          .col-sm-8
            p Pieniądze &nbsp;
          .col-sm-4
            span.badge= game_data.mission_money2
        .row
          .col-sm-8
            p Przedmiot &nbsp;
          .col-sm-4
            span.badge= game_data.mission_item2
        .row
          .col-sm-8
            p Czas &nbsp;
          .col-sm-4
            span.badge= game_data.mission_time2



  .panel.panel-default
    #mission-three.panel-heading(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#missions', href='#mission-three-collapse', aria-expanded='false', aria-controls='mission-three-collapse')= game_data.mission_name3
    #mission-three-collapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='mission-three')
      .panel-body
        .row
          .col-sm-12
            p= game_data.mission_description3
        .row
          .col-sm-8
            p Siła &nbsp;
          .col-sm-4
            span.badge= game_data.mission_strength3
        .row
          .col-sm-8
            p Witalność &nbsp;
          .col-sm-4
            span.badge= game_data.mission_vitality3
        .row
          .col-sm-8
            p Inteligencja &nbsp;
          .col-sm-4
            span.badge= game_data.mission_inteligence3
        .row
          .col-sm-8
            p Zreczność &nbsp;
          .col-sm-4
            span.badge= game_data.mission_agility3
        .row
          .col-sm-8
            p Pieniądze &nbsp;
          .col-sm-4
            span.badge= game_data.mission_money3
        .row
          .col-sm-8
            p Przedmiot &nbsp;
          .col-sm-4
            span.badge= game_data.mission_item3
        .row
          .col-sm-8
            p Czas &nbsp;
          .col-sm-4
            span.badge= game_data.mission_time3
