div#panel-character
  .panel.panel-primary
    .panel-heading
      h3.panel-title Postać
    .panel-body
      .row
        .col-sm-4
          .panel.panel-info
            .panel-heading
              h3.panel-title Statystyki
            .panel-body
              .row
                .col-sm-8
                  p(data-toggle="tooltip", data-placement="right", title="Zwieksza zadawane obrazenia") Siła &nbsp;
                .col-sm-4
                  span.badge= game_data.strength
              .row
                .col-sm-8
                  p(data-toggle="tooltip", data-placement="right", title="Zwieksza punkty zycia") Witalność &nbsp;
                .col-sm-4
                  span.badge= game_data.vitality
              .row
                .col-sm-8
                  p(data-toggle="tooltip", data-placement="right", title="Zwieksza szanse na atak krytyczny") Inteligencja &nbsp;
                .col-sm-4
                  span.badge= game_data.inteligence
              .row
                .col-sm-8
                  p(data-toggle="tooltip", data-placement="right", title="Zwieksza szanse na unik") Zreczność &nbsp;
                .col-sm-4
                  span.badge= game_data.agility
              .row
                .col-sm-8
                  p(data-toggle="tooltip", data-placement="right", title="Hajs sie musi zgadzac") Pieniądze &nbsp;
                .col-sm-4
                  span.badge= game_data.money
        .col-sm-8
          img(src="http://i.imgur.com/XTwwOEZ.gif", alt="Postac").img-thumbnail
