div#panel-character
  .panel.panel-primary
    .panel-heading
      h3.panel-title Postać
    .panel-body
      .row
        .col-sm-4
          .panel.panel-info
            .panel-heading
              h3.panel-title Statystyki
            .panel-body
              .row
                .col-sm-8
                  p Siła &nbsp;
                .col-sm-4
                  span.badge= strength
              .row
                .col-sm-8
                  p Witalność &nbsp;
                .col-sm-4
                  span.badge= vitality
              .row
                .col-sm-8
                  p Inteligencja &nbsp;
                .col-sm-4
                  span.badge= inteligence
              .row
                .col-sm-8
                  p Zreczność &nbsp;
                .col-sm-4
                  span.badge= agility
              .row
                .col-sm-8
                  p Pieniądze &nbsp;
                .col-sm-4
                  span.badge= money
        .col-sm-8
          canvas#myCanvas(width='400', height='600')
            | Sorry, your browser doesn't support the <canvas> element
