div#panel-ranking
  .panel.panel-primary
    .panel-heading
      h3.panel-title Ranking
    .panel-body
      div
        .row(style="border-bottom: 1px solid black;")
          .col-sm-4
            p Nazwa
          .col-sm-2
            p Siła
          .col-sm-2
            p Witalność
          .col-sm-2
            p Inteligencja
          .col-sm-2
            p Zreczność
        each rank in ranking
          .row(style="border-bottom: 1px solid black;")
            .col-sm-4
              p= rank.name
            .col-sm-2
              p= rank.strength
            .col-sm-2
              p= rank.vitality
            .col-sm-2
              p= rank.inteligence
            .col-sm-2
              p= rank.agility
